@color: red;
.FlexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
.FlexColumnBetween() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
